.Bgoodggo_top{
	width:100%;
	font-size:12px;
	border-bottom:1px solid #D51819;
	color:#666666;
	.Bg_header{
		border-bottom:1px solid #ccc;
		height:33px;
		.container{
			width:1200px;
			margin:0 auto;
			span{
				display:inline-block;
				color:#B2A5B2;
				line-height:33px;
			}
			ul{
				float:right;
				li{
					float:left;
					line-height:33px;
					a{
						padding:0px 16px;
						color:#B2A5B2;
					}
				}
				.li_one{
					position:relative;
					.login{
						width:99px;
						
						position:absolute;
						left:0;
						top:25px;
						display:none;
						box-shadow:0 0 1px 0 #F8584F, 0 0 1px 0 #F8584F;
						a{
							height:22px;
							line-height:22px;
							padding:0 6px;
							color:#222222;	
						}
					}
				}
				.li_one:hover .login{
					display:block;
					background:#F8584F;
					a{
						color:#fff;
					}
				}
				.li_one:hover{
					box-shadow:1px 0 1px 0 #F8584F, -1px 0 1px 0 #F8584F;
					background:#F8584F;
					a{
						color:#fff;
					
					}
				}
			}
			.Bg_logo{
				padding-top:12px;
				.img{
					display:block;
					height:68px;
					width:266px;
					float:left;
					background:url('../img/Bgoodggo.fw.png') no-repeat;
				}
				.Bg_logo_headtop{
					width:750px;
					float:left;
					padding-top:24px;
					.Bg_logo_headtop_sc{
						width:380px;
						height:34px;
						border:1px solid #D51819;
						float:left;
						.search{
							width:285px;
							line-height:22px;
							padding:5px 0 5px 5px;
							color:#666666;
							float:left;
						}
						.btn{
							width:88px;
							height:34px;
							float:right;
							background:#D51819;
							color:#fff;
						}
					}
					.Bg_logo_headtop_list{
						width:350px;
						li{
							a{
								display:block;
								padding:0 10px;
								text-align:center;
								span{
									display:block;
								}
							}
						}
						li:hover{
							span{
								color:#D51819;
								font-size:14px;
							}
						}
					}
				}
				.Bg_cart{
					width:150px;
					height:48px;
					padding-top:12px;
					color:red;
					float:right;
					font-size:14px;
					position:relative;
					a{
						line-height:55px;
						padding-left:60px;
					}
					.icon_cart{
						width:44px;
						height:27px;
						position:absolute;
						left:8px;
						top:25px;
						background:url('../img/Bgoodggo.fw.png') -373px 0 no-repeat;
					}
				}
			}
			.Bg_nav{
				position:relative;
				.Bg_nav_left{
					width:237px;
					height:42px;
					background:#D51819;
					float:left;
					li{
						width:207px;
						font-size:14px;
						position:relative;
						a{
							color:#fff;
							padding-left:50px;
						}
						.icon_list{
							position:absolute;
							left:0px;
							top:2px;
							width:45px;
							height:33px;
							background:url('../img/Bgoodggo.fw.png') -502px 0 no-repeat;
						}
					}
					.Bg_nav_list{
						width:207px;
						height:530px;
						border:1px solid #D51819;
						padding:14px;

						display:none;
						li{
							h2{
								color:#222222;
							}
							p{
								display:block;
								line-height:26px;
								a{
									color:#696969;
									padding:0;
								}
							}
						}
					}	
				}
				.Bg_nav_right{
					width:807px;
					float:left;
					padding-top:7px;
					li{
					padding:0 19px;
						a{
							font-size:18px;
							color:#414141;
							font-family:normal;
						}
					}
					li:hover{
						background:#D51819;
						
					}
				}
			}
		}
	}
}