.Bgoodggo { width: 100%; height: 100%; position: relative; }

.Bgoodggo .Bg_goods .Bg_goods_t { padding-top: 30px; }

.Bgoodggo .Bg_goods .Bg_goods_t a { height: 42px; line-height: 42px; }

.Bgoodggo .Bg_goods .Bg_goods_l { width: 530px; height: 600px; float: left; }

.Bgoodggo .Bg_goods .Bg_goods_l .tab_content { width: 480px; height: 480px; }

.Bgoodggo .Bg_goods .Bg_goods_l .tab_content img { display: block; width: 480px; height: 480px; }

.Bgoodggo .Bg_goods .Bg_goods_l .tab_Item ul li { width: 78px; height: 78px; border: 1px solid #ccc; float: left; margin-right: 20px; margin-top: 20px; }

.Bgoodggo .Bg_goods .Bg_goods_l .tab_Item ul li img { width: 78px; height: 78px; }

.Bgoodggo .Bg_goods .Bg_goods_r { width: 668px; height: 600px; float: right; }

.Bgoodggo .Bg_goods .Bg_goods_r .title { height: 40px; font-size: 16px; font-weight: bold; }

.Bgoodggo .Bg_goods .Bg_goods_r .title h2 { display: block; float: left; font-size: 16px; font-weight: bold; padding-right: 60px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_goods_r_p { height: 62px; width: 640px; background: #F6F6F6; padding: 20px 14px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_goods_r_p p { height: 30px; line-height: 30px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_goods_r_p p .p1 { font-size: 18px; height: 30px; color: #F8584F; font-weight: bold; margin-right: 20px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_goods_r_p p .p2, .Bgoodggo .Bg_goods .Bg_goods_r .Bg_goods_r_p p .p3 { width: 48px; height: 27px; line-height: 27px; text-align: center; background: #F84646; pdding: 3px 10px; float: right; font-size: 14px; color: #fff; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_goods_r_p p a { float: right; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_sele { width: 670px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_sele a { display: block; width: 100px; color: #66667D; float: left; padding: 20px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_sele a span { display: block; padding-right: 10px; border-right: 1px solid #ccc; color: red; float: right; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq { padding-left: 20px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .color, .Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .size { height: 28px; line-height: 28px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .color span, .Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .size span { line-height: 28px; color: #666666; font-weight: bold; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .smImg { display: block; width: 90px; height: 90px; border: 2px solid #F8584F; margin: 10px 0 10px 0; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .smSize { display: block; width: 60px; height: 30px; line-height: 30px; text-align: center; border: 2px solid #F8584F; margin: 10px 0 10px 0; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl { height: 28px; padding: 15px 0 15px 0; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl p { float: left; height: 30px; line-height: 30px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl .jian, .Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl .add, .Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl .num { display: block; width: 25px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #ccc; float: Left; cursor: pointer; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl .num { display: block; width: 40px; height: 25px; line-height: 25px; margin: 0 10px 0 10px; float: left; border: none; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .Bg_sl .num .input { width: 40px; height: 25px; line-height: 25px; text-align: center; border: 1px solid #ccc; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq .goods_btn { width: 200px; height: 36px; line-height: 36px; font-size: 12px; color: #fff; font-weight: bold; background: #F8584F; margin-bottom: 10px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq p { display: block; height: 28px; line-height: 28px; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq p a { color: #666666; }

.Bgoodggo .Bg_goods .Bg_goods_r .Bg_xq p span { margin-right: 200px; color: #666666; }

.Bgoodggo .Bg_goods .Bg_add { width: 702px; height: 227px; float: left; display: none; border: 1px solid #ccc; position: absolute; }

.Bgoodggo .Bg_goods .Bg_add .title { height: 36px; padding: 0 10px; border-bottom: 1px solid #ccc; background: #FAFAFA; }

.Bgoodggo .Bg_goods .Bg_add .title h4 { display: block; height: 36px; line-height: 36px; color: #333; font-size: 14px; }

.Bgoodggo .Bg_goods .Bg_add .title h4 span { width: 15px; height: 15px; line-height: 15px; margin-top: 10px; text-align: center; border: 1px solid #ccc; float: right; }

.Bgoodggo .Bg_goods .Bg_add .content { background: pink; height: 190px; }

.Bgoodggo .Bg_goods .Bg_add .content h1 { font-size: 20px; font-weight: bold; text-align: center; padding: 20px 0; }

.Bgoodggo .Bg_goods .Bg_add .content .btn1, .Bgoodggo .Bg_goods .Bg_add .content .btn2 { width: 128px; height: 32px; border: 1px solid #ccc; margin-left: 140px; margin-top: 20px; background: #fff; color: #333; cursor: pointer; }

.Bgoodggo .Bg_goods .Bg_add .content .btn1:hover { background: #F8584F; color: #fff; }

.Bgoodggo .Bg_goods .Bg_add .content .btn2:hover { background: #F8584F; color: #fff; }
